p .description {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.08px;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 93%;
  max-width: 352px;
  padding: 10px 0;
  text-align: center;
}



.footer-fixed .btn-success:hover .balloon-dialog {
  display: block;
  position: absolute;
  top: -60px; /* ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a2540;
  padding: 10px 20px;
  color: white;
  border-radius: 5px 5px 0 0;
  width: max-content;
  margin: 0 auto;
  z-index: 1;
}

.balloon-dialog::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0a2540;
}

.balloon-dialog {
  display: none;
}

h2 {
  color: #0A2540;
  margin-bottom: 1em;
}

h3 {
  color: #0A2540;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.06px;
}

h4 {
  color: #0A2540;
  font-family: 'Quicksand';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

button {
  cursor: pointer
}

.icon-with-rounded-border {
  border-radius: 50px;
  border: 1px solid #EBEDEF;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pt-5 {
  padding-top: 15px;
}

.pt-46 {
  padding-top: 46px;
}

.pt-50 {
  padding-top: 50px;
}

.btn-danger:disabled {
  background: var(--colors-primary-400);
  border-color: var(--colors-primary-400);
  cursor: not-allowed;
}