.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 2px solid #123abc;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin: 2em auto;
  width: 80%;
  max-width: 600px;
}

h2 {
  color: #123abc;
  margin-bottom: 1em;
}

p {
  text-align: center;
  margin-bottom: 1em;
}

.start-btn {
  font-family: 'Open Sans';
  font-weight: 600;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
  width: 100%;
}